services:
  - docker

script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - find . -type f -iname "*.sh" -exec chmod +x {} \;
  - ./buildall.sh
  - docker logout
